# Игнорировать виртуальное окружение
venv/
.venv/
env/

# Игнорировать локальную базу данных
db.sqlite3

# Игнорировать загруженные файлы
media/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать файл .env
.env

# Игнорировать IDE-файлы
.vscode/
.idea/